USE [Market]
GO
/****** Object:  Schema [Mkt]    Script Date: 7/16/2016 9:49:47 PM ******/
CREATE SCHEMA [Mkt]
GO
/****** Object:  Schema [Nom]    Script Date: 7/16/2016 9:49:47 PM ******/
CREATE SCHEMA [Nom]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/16/2016 9:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Mkt].[Producer]    Script Date: 7/16/2016 9:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mkt].[Producer](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[ProducerName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Mkt.Producer] PRIMARY KEY CLUSTERED 
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Mkt].[Product]    Script Date: 7/16/2016 9:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mkt].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](30) NOT NULL,
	[Category] [int] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Mkt.Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Mkt].[Stock]    Script Date: 7/16/2016 9:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mkt].[Stock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProducerId] [int] NOT NULL,
	[NumberProduct] [int] NOT NULL,
 CONSTRAINT [PK_Mkt.Stock] PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Nom].[ProductCategory]    Script Date: 7/16/2016 9:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Nom].[ProductCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NULL,
 CONSTRAINT [PK_Nom.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [Mkt].[Producer] ON 

INSERT [Mkt].[Producer] ([ProducerId], [ProducerName]) VALUES (1, N'Milka')
INSERT [Mkt].[Producer] ([ProducerId], [ProducerName]) VALUES (2, N'Marex')
INSERT [Mkt].[Producer] ([ProducerId], [ProducerName]) VALUES (3, N'Vel Pitar')
SET IDENTITY_INSERT [Mkt].[Producer] OFF
SET IDENTITY_INSERT [Mkt].[Product] ON 

INSERT [Mkt].[Product] ([ProductId], [ProductName], [Category], [ExpirationDate], [Price]) VALUES (1, N'Bere', 1, CAST(N'2016-07-14 23:26:55.640' AS DateTime), CAST(5.00 AS Decimal(10, 2)))
INSERT [Mkt].[Product] ([ProductId], [ProductName], [Category], [ExpirationDate], [Price]) VALUES (2, N'Suc', 2, CAST(N'2016-07-17 23:26:55.640' AS DateTime), CAST(0.63 AS Decimal(10, 2)))
INSERT [Mkt].[Product] ([ProductId], [ProductName], [Category], [ExpirationDate], [Price]) VALUES (3, N'Paine', 3, CAST(N'2016-07-15 23:26:55.640' AS DateTime), CAST(2.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [Mkt].[Product] OFF
SET IDENTITY_INSERT [Mkt].[Stock] ON 

INSERT [Mkt].[Stock] ([StockId], [ProductId], [ProducerId], [NumberProduct]) VALUES (1, 1, 4, 10)
INSERT [Mkt].[Stock] ([StockId], [ProductId], [ProducerId], [NumberProduct]) VALUES (2, 1, 5, 10)
INSERT [Mkt].[Stock] ([StockId], [ProductId], [ProducerId], [NumberProduct]) VALUES (3, 2, 6, 5)
SET IDENTITY_INSERT [Mkt].[Stock] OFF
SET IDENTITY_INSERT [Nom].[ProductCategory] ON 

INSERT [Nom].[ProductCategory] ([CategoryId], [CategoryName]) VALUES (1, N'Bautura')
INSERT [Nom].[ProductCategory] ([CategoryId], [CategoryName]) VALUES (2, N'Racoritoare')
INSERT [Nom].[ProductCategory] ([CategoryId], [CategoryName]) VALUES (3, N'Alimente')
SET IDENTITY_INSERT [Nom].[ProductCategory] OFF
ALTER TABLE [Mkt].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Mkt.Product_Nom.ProductCategory_Category] FOREIGN KEY([Category])
REFERENCES [Nom].[ProductCategory] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [Mkt].[Product] CHECK CONSTRAINT [FK_Mkt.Product_Nom.ProductCategory_Category]
GO
ALTER TABLE [Mkt].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Mkt.Stock_Mkt.Producer_ProducerId] FOREIGN KEY([ProducerId])
REFERENCES [Mkt].[Producer] ([ProducerId])
ON DELETE CASCADE
GO
ALTER TABLE [Mkt].[Stock] CHECK CONSTRAINT [FK_Mkt.Stock_Mkt.Producer_ProducerId]
GO
ALTER TABLE [Mkt].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Mkt.Stock_Mkt.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [Mkt].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [Mkt].[Stock] CHECK CONSTRAINT [FK_Mkt.Stock_Mkt.Product_ProductId]
GO
/****** Object:  StoredProcedure [Mkt].[ChangePrice]    Script Date: 7/16/2016 9:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		
CREATE PROCEDURE [Mkt].[ChangePrice](@reduceProductId int)
AS
BEGIN
UPDATE Mkt.Product
SET Mkt.Product.Price=(Mkt.Product.Price-0.5*Mkt.Product.Price )
WHERE Mkt.Product.ProductId=@reduceProductId
 
SELECT *
FROM Mkt.Product
END

GO
