USE [Market]

GO
SET IDENTITY_INSERT [Mkt].[Producer] ON 

INSERT [Mkt].[Producer] ([ProducerId], [ProducerName]) VALUES (1, N'Milka')
INSERT [Mkt].[Producer] ([ProducerId], [ProducerName]) VALUES (2, N'Marex')
INSERT [Mkt].[Producer] ([ProducerId], [ProducerName]) VALUES (3, N'Vel Pitar')
SET IDENTITY_INSERT [Mkt].[Producer] OFF
SET IDENTITY_INSERT [Mkt].[Product] ON 

INSERT [Mkt].[Product] ([ProductId], [ProductName], [Category], [ExpirationDate], [Price]) VALUES (1, N'Bere', 1, CAST(N'2016-07-14 23:26:55.640' AS DateTime), CAST(5.00 AS Decimal(10, 2)))
INSERT [Mkt].[Product] ([ProductId], [ProductName], [Category], [ExpirationDate], [Price]) VALUES (2, N'Suc', 2, CAST(N'2016-07-19 23:26:55.640' AS DateTime), CAST(5.00 AS Decimal(10, 2)))
INSERT [Mkt].[Product] ([ProductId], [ProductName], [Category], [ExpirationDate], [Price]) VALUES (3, N'Paine', 3, CAST(N'2016-07-15 23:26:55.640' AS DateTime), CAST(2.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [Mkt].[Product] OFF
SET IDENTITY_INSERT [Mkt].[Stock] ON 

INSERT [Mkt].[Stock] ([StockId], [ProductId], [ProducerId], [NumberProduct]) VALUES (1, 1, 4, 10)
INSERT [Mkt].[Stock] ([StockId], [ProductId], [ProducerId], [NumberProduct]) VALUES (2, 1, 5, 10)
INSERT [Mkt].[Stock] ([StockId], [ProductId], [ProducerId], [NumberProduct]) VALUES (3, 2, 6, 5)
SET IDENTITY_INSERT [Mkt].[Stock] OFF
SET IDENTITY_INSERT [Nom].[ProductCategory] ON 

INSERT [Nom].[ProductCategory] ([CategoryId], [CategoryName]) VALUES (1, N'Bautura')
INSERT [Nom].[ProductCategory] ([CategoryId], [CategoryName]) VALUES (2, N'Racoritoare')
INSERT [Nom].[ProductCategory] ([CategoryId], [CategoryName]) VALUES (3, N'Alimente')
SET IDENTITY_INSERT [Nom].[ProductCategory] OFF
ALTER TABLE [Mkt].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Mkt.Product_Nom.ProductCategory_Category] FOREIGN KEY([Category])
REFERENCES [Nom].[ProductCategory] ([CategoryId])
GO
ALTER TABLE [Mkt].[Product] CHECK CONSTRAINT [FK_Mkt.Product_Nom.ProductCategory_Category]
GO
ALTER TABLE [Mkt].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Mkt.Stock_Mkt.Producer_ProducerId] FOREIGN KEY([ProducerId])
REFERENCES [Mkt].[Producer] ([ProducerId])
GO
ALTER TABLE [Mkt].[Stock] CHECK CONSTRAINT [FK_Mkt.Stock_Mkt.Producer_ProducerId]
GO
ALTER TABLE [Mkt].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Mkt.Stock_Mkt.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [Mkt].[Product] ([ProductId])
GO
ALTER TABLE [Mkt].[Stock] CHECK CONSTRAINT [FK_Mkt.Stock_Mkt.Product_ProductId]
GO
